<div class="wrapper">
  <div class="content">
    <div>
      <p>Hello everyone!</p>
      <p>I'll tell you a little bit about myself. I am 23 years, my way in the music industry started in 2013. After self-education I decided to get education consciously, because I like the profession and how it can influence the Listeners.</p>
      <p>Always try to develop comprehensively and move only forward. In my musical compositions and performances, everyone will be able to see the reflection of themselves!</p>
      <p>My music is your emotion! (Tony Gribsun)</p>
    </div>
  </div>
  <img src="/assets/images/bioImage.jpg">
</div>
