<footer>
  <div class="links">
    <a target="_blank" href="https://vk.com/tonygribsun">
      <img src="/assets/images/vk.png">
    </a>
    <a target="_blank" href="https://www.instagram.com/tony_gribsun/?utm_source=ig_profile_share&igshid=1sztntu5iarir">
      <img src="/assets/images/instagram.png">
    </a>
    <a href="https://vk.com">
      <img src="/assets/images/beatPort.png">
    </a>
    <a target="_blank" href="https://soundcloud.com/tony-gribsun">
      <img src="/assets/images/soundCloud.png">
    </a>
    <a href="https://vk.com">
      <img src="/assets/images/youTube.png">
    </a>
  </div>
  <div>
    <a href="tel:+79037759804">
      <img src="/assets/images/whatsapp.png" alt="whatsapp">
      8(903)775-98-04
    </a>
  </div>
  <img src="/assets/images/logo.png">
</footer>
