.wrapper {
  width: 100%;
  min-height: 400px;
  background-color: black;
  padding: 50px 40px 70px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.wrapper > * {
  flex-basis: 26%;
  display: flex;
  flex-direction: column;
  margin: 0 3% 30px;
}
.paper {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  margin-bottom: 10px;
}
.paper .image {
  background-size: cover;
  background-position: bottom;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.paper .links {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 300ms ease-in;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  text-decoration: none;
}
.paper .links i {
  font-size: 50px;
  font-weight: bold;
  color: white;
}
.paper:hover .links {
  opacity: .5;
}
.description {
  padding: 5px;
  background-color: white;
  text-align: center;
}
.description p {
  margin: 0;
}
@media screen and (max-width: 769px) {
  .wrapper > * {
    flex-basis: 46%;
  }
}
@media screen and (max-width: 500px){
  .wrapper > * {
    flex-basis: 80%;
  }
}
