<div class="header">
  <div class="bg"></div>
  <div class="container">
    <div class="menu">
      <div class="main-logo" routerLink="/home">TONY<br>GRIBSUN</div>
      <div routerLink="/bio" routerLinkActive="active" class="bio">BIO</div>
      <div routerLink="/music" routerLinkActive="active">Music</div>
      <div routerLink="/gallery" routerLinkActive="active">Gallery</div>
    </div>
  </div>
</div>
<div class="links">
  <a target="_blank" href="https://vk.com/tonygribsun">VK</a>
  <a  target="_blank" href="https://www.instagram.com/tony_gribsun/?utm_source=ig_profile_share&igshid=1sztntu5iarir">INST</a>
  <a href="https://vk.com">BEAT</a>
  <a target="_blank" href="https://soundcloud.com/tony-gribsun">SOUND</a>
  <a href="https://vk.com">YOUTU</a>
</div>
