<div class="bg"></div>
<div class="header">
  <div class="container">
    <div class="menu">
      <div class="main-logo" routerLink="/home">TONY<br>GRIBSUN</div>
      <div routerLink="/bio" routerLinkActive="active" class="bio">BIO</div>
      <div routerLink="/music" routerLinkActive="active">Music</div>
      <div routerLink="/gallery" routerLinkActive="active">Gallery</div>
    </div>
  </div>
</div>
<div class="links">
  <a href="https://vk.com">VK</a>
  <a href="https://vk.com">INST</a>
  <a href="https://vk.com">BEAT</a>
  <a href="https://vk.com">SOUND</a>
  <a href="https://vk.com">YOUTU</a>
</div>
